
main{
    width: auto;
    height: auto;
}

body{
    position: relative;
    width: auto;
    height: auto;
    background: #F3F5FC;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.rectangulo{
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    /* White */
    background: #FFFFFF;;
    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;

}

.muneco{
    position: relative;
    width: 336px;
    height: 304px;
    left: 40px;
    top: 283px;
    margin: auto;
    
}

.caja-texto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 336px;
    height: 122px;
    left: 40px;
    top: 619px;
}

.texto{
    width: 336px;
    height: 58px;
    font-family: 'Inter';
    font-style: bold;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */
    text-align: center;
    /* Gray/gray-500 */
    color: #343A40;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.otro-texto{
    width: 336px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    text-align: center;
    /* Gray/gray-400 */
    color: #495057;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.inserte{
    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 168px;
    color: #0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.datos{
    display: flex;
    color: gray;
    font-size: 10px;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 851px;
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 680px;
    height: 67px;
    left: 248px;
    top: 882px;
}

.encriptar{
    font-size: 10px;
    color: #E5E5E5;
    background: #0A3871;
    border-radius: 50px;
    padding: 15px 100px;
}

.desencriptar{
    font-size: 10px;
    color: #0A3871;
    background: rgb(216, 215, 215);
    border-radius: 50px;
    padding: 15px 100px;
}